# Auto detect text files and perform LF normalization
* text=auto
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

LargePri.fa058954/

# Ignore build directories
Debug/
Release/

# Ignore NPM packages if using Node.js
node_modules/

# Ignore logs and temporary files
*.log
*.tmp